*{
    font-family:Arial, Helvetica, sans-serif;
}


/*
.literata-<uniquifier> {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
body
{
    background-color: rgb(6, 2, 40);
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

.back_header
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.middle
{
    display: flex;
    justify-content: center;
}
.middle ul
{
    display: flex;
    gap: 5rem;
}
.middle a 
{
    color: rgb(118, 118, 152);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    list-style: none;
    text-decoration: none;


}

.middle a:hover
{
    color: rgb(240, 24, 171);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}