*{
    font-family:Arial, Helvetica, sans-serif;
}


.literata-<uniquifier> {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* background on the page itself */



body {

    height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: url('./assets/images/background_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* stays put when scrolling */
  background-color: #000;       /* fallback */
}

.back_header
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.middle
{
    display: flex;
    justify-content: center;
}
.middle ul
{
    display: flex;
    gap: 5rem;
}
.middle a 
{
    color: rgb(213, 213, 223);
    font-size: 20px;
    font-weight: bold;
    
    list-style: none;
    text-decoration: none;


}
.middle li
{
    list-style: none;
}


.middle a:hover
{
    color: rgb(240, 24, 171);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}


.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(255, 231, 246);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 5px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
 
}

button {
  margin-left: 15rem;
  padding: 10px 30px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (max-width:500px) {
   body {
        padding: 0;
        margin: 0;
        width: 100%; 
        height: auto;
    }
    .middle ul  {
        flex-wrap: wrap; 
        gap: 1rem; 
        justify-content: center; 
        padding: 0; 
    }
    .middle a {
        font-size: 16px; 
    }

.container {
        max-width: 95%; 
        width: 95%; 
        margin: 20px auto; 
        padding: 15px; 
    }
    button {
        margin-left: 0; 
        display: block; 
        margin: 15px auto 0 auto;
    }
}


