*{
    font-family:Arial, Helvetica, sans-serif;
}
/* background on the page itself */
body {

    height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./assets/images/background_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* stays put when scrolling */
  background-color: #000;       /* fallback */
}


.back_header
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.middle
{
    display: flex;
    justify-content: center;
}
.middle ul
{
    display: flex;
    gap: 5rem;
}
.middle a 
{
    color: rgb(213, 213, 223);
    font-size: 20px;
    font-weight: bold;
    
    list-style: none;
    text-decoration: none;


}
.middle li
{
    list-style: none;
}


.middle a:hover
{
    color: rgb(240, 24, 171);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.home
{
    display: flex;
    justify-content: space-around;
 margin-top: 8rem;
    
}
.pic
{
  height: 220px;
  width: 220px;
  background: #000;
  border-radius:50%;
}
.pic img
{
  height: 220px;
  width: 220px;
  border-radius:50%;
}
::placeholder
{
    color: rgb(199, 31, 87);
    font-family:  "Days One", sans-serif;
} 
.d1 input , .d2  input , .d3 input
{
   width: 220px;     /* Largeur */
  height: 20px;     /* Hauteur */
  font-size: 16px;  /* Taille du texte */
  padding: 8px;     /* Espace intérieur */
  border-radius: 30px; /* Coins arrondis */
  border: 4.5px solid #caa0c4; /* Bordure */
}
.d2 input , .d3 input {
  margin-top: 50px;
   /* Espace entre la 1ère et la 2e ligne */
}
.d1 input, .d2 input, .d3 input {
  margin-right: 40px; /* espace entre prénom et nom */
}

.button1 button {
  background: rgb(90, 4, 61);
  color: white;
  padding: 10px 20px;
 border: none;
 cursor: pointer;
 margin-top: 2rem;
 margin-left: 30rem;
 border-radius: 10%;
}

.button1 button:hover {
  background-color: #ff85c1;
  
}
